{
 :duct.database.sql/hikaricp {:adapter "postgresql"
                              :database-name "yki"
                              :server-name "localhost"
                              :port-number "5432"
                              :username "admin"
                              :password "admin"}

 :yki.middleware.access-log/with-logging {:env "dev"}

 :yki.job.job-queue/init {:db-config {:db {:subprotocol "postgresql"
                                           :subname "//localhost:5432/yki"
                                           :user "admin"
                                           :password "admin"}}}

 :yki.util/url-helper {:virkailija-host        "virkailija.untuvaopintopolku.fi"
                       :oppija-host            "untuvaopintopolku.fi"
                       :yki-register-host      "http://localhost:8080"
                       :alb-host               "https://virkailija.untuvaopintopolku.fi"
                       :tunnistus-host         "tunnistus.untuvaopintopolku.fi"
                       :yki-host-virkailija    "http://localhost:8080"}

 :yki.handler/payment {:db #ig/ref :duct.database/sql
                       :auth #ig/ref :yki.middleware.auth/with-authentication
                       :payment-config {:paytrail-host "https://payment.paytrail.com/e2"
                                        :yki-payment-uri "https://yki.untuvaopintopolku.fi/yki/payment"}}

 :yki.handler/registration {:db #ig/ref :duct.database/sql
                            :auth #ig/ref :yki.middleware.auth/with-authentication
                            :url-helper #ig/ref :yki.util/url-helper
                            :email-q #ig/ref :yki.job.job-queue/email-q
                            :onr-client #ig/ref :yki.boundary.onr/onr-client
                            :access-log #ig/ref :yki.middleware.access-log/with-logging
                            :payment-config {:paytrail-host "https://payment.paytrail.com/e2"
                                             :yki-payment-uri "https://yki.untuvaopintopolku.fi/yki/payment"
                                             :amount {:PERUS "100.00"
                                                      :KESKI "123.00"
                                                      :YLIN "160.00"}}}}

   :yki.handler/exam-session-public {:db #ig/ref :duct.database/sql
                                     :payment-config {:paytrail-host "https://payment.paytrail.com/e2"
                                                      :yki-payment-uri "https://yki.untuvaopintopolku.fi/yki/payment"
                                                      :amount {:PERUS "100.00"
                                                               :KESKI "123.00"
                                                               :YLIN "160.00"}}}

 :yki.middleware.auth/with-authentication
 {:url-helper #ig/ref :yki.util/url-helper
  :session-config {:key "ad7tbRZIG839gDo2"
                   :cookie-attrs {:max-age 28800
                                  :http-only true
                                  :secure false
                                  :path "/yki"}}}

 :yki.middleware.no-auth/with-authentication
 {:session-config {:key "ad7tbRZIG839gDo2"
                   :cookie-attrs {:max-age 28800
                                  :http-only true
                                  :secure false
                                  :domain "localhost"
                                  :path "/yki"}}}

 :yki.handler/organizer {:db #ig/ref :duct.database/sql
                         :url-helper #ig/ref :yki.util/url-helper
                         :file-handler #ig/ref :yki.handler/file
                         :access-log #ig/ref :yki.middleware.access-log/with-logging
                         :auth #ig/ref :yki.middleware.auth/with-authentication}}

