{:duct.core/environment :development
 :duct.core/include ["yki/config"]
 :duct.core/project-ns yki

 :duct.database.sql/hikaricp {:adapter "postgresql"
                              :database-name "yki"
                              :server-name "localhost"
                              :port-number "5432"
                              :username "admin"
                              :password "admin"}


:yki.job.job-queue/email-q {
     :db-config {
        :db {:subprotocol "postgresql"
            :subname "//127.0.0.1:5432/yki"
            :user "admin"
            :password "admin"}}}

 :yki.middleware.access-log/with-logging {:env "dev"}

 :yki.util/url-helper {:virkailija-host        "virkailija.untuvaopintopolku.fi"
                       :oppija-host            "untuvaopintopolku.fi"
                       :alb-host               "https://virkailija.untuvaopintopolku.fi"
                       :tunnistus-host         "tunnistus.untuvaopintopolku.fi"
                       :yki-host-virkailija    "http://localhost:8080"}

 :yki.handler/payment {:db #ig/ref :duct.database/sql
                       :payment-config {:paytrail-host "https://payment.paytrail.com/e2"
                                        :yki-payment-uri "http://localhost:8080/yki/payment"
                                        :merchant-id 12345
                                        :amount "100.00"
                                        :merchant-secret "SECRET_KEY"
                                        :msg {:fi "msg_fi"
                                              :sv "msg_sv"}}}

 :yki.middleware.auth/with-authentication
 {:url-helper #ig/ref :yki.util/url-helper
  :session-config {:key "ad7tbRZIG839gDo2"
                   :cookie-attrs {:max-age 28800
                                  :http-only true
                                  :secure false
                                  :path "/yki"}}}

 :yki.middleware.no-auth/with-authentication
 {:session-config {:key "ad7tbRZIG839gDo2"
                   :cookie-attrs {:max-age 28800
                                  :http-only true
                                  :secure false
                                  :domain "localhost"
                                  :path "/yki"}}}

 :yki.handler/organizer {:db #ig/ref :duct.database/sql
                         :url-helper #ig/ref :yki.util/url-helper
                         :file-handler #ig/ref :yki.handler/file
                         :access-log #ig/ref :yki.middleware.access-log/with-logging
                         :auth #ig/ref :yki.middleware.no-auth/with-authentication}}

