{:duct.core/environment :development
 :duct.core/include ["yki/config"]
 :duct.core/project-ns yki
 :duct-migrations-auto-cfg/module {}
 :duct.database.sql/hikaricp {:adapter "postgresql"
                              :database-name "yki"
                              :server-name "localhost"
                              :port-number "5432"
                              :username "admin"
                              :password "admin"}}

