{:duct.core/project-ns  yki
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}
 :duct.server.http/jetty {:port 8080}
 :duct.migrator/ragtime
 {:resource-path "oti/migrations"}

 :duct.router/cascading [#ig/ref :yki.handler/status
                         #ig/ref :yki.handler/organizer]

 :yki.handler/status
 {:db #ig/ref :duct.database/sql}

 :yki.handler/organizer
 {:db #ig/ref :duct.database/sql}}
