{:duct.core/project-ns  yki
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}
 :duct.server.http/jetty {:port 8080}
 :duct.migrator/ragtime {:resource-path "yki/migrations"}
 :duct-migrations-auto-cfg/module {}
 :duct.router/cascading [#ig/ref :yki.handler/status
                         #ig/ref :yki.handler/auth
                         #ig/ref :yki.handler/localisation
                         #ig/ref :yki.handler/organizer]

 :yki.util/url-helper {}

 :yki.boundary.cas/cas-client {:url-helper #ig/ref :yki.util/url-helper
                               :cas-creds {}}

 :yki.boundary.onr/onr-client {:url-helper #ig/ref :yki.util/url-helper
                               :cas-client #ig/ref  :yki.boundary.cas/cas-client}

 :yki.boundary.permissions/permissions-client {:url-helper #ig/ref :yki.util/url-helper
                                               :cas-client #ig/ref  :yki.boundary.cas/cas-client}

 :yki.boundary.files/liiteri-file-store {:url-helper #ig/ref :yki.util/url-helper}

 :yki.middleware.auth/with-authentication {:url-helper #ig/ref :yki.util/url-helper
                                           :session-config {}}

 :yki.middleware.access-log/with-logging {}

 :yki.handler/auth {:auth #ig/ref :yki.middleware.auth/with-authentication
                    :cas-client #ig/ref  :yki.boundary.cas/cas-client
                    :permissions-client #ig/ref :yki.boundary.permissions/permissions-client
                    :onr-client #ig/ref :yki.boundary.onr/onr-client
                    :access-log #ig/ref :yki.middleware.access-log/with-logging
                    :db #ig/ref :duct.database/sql
                    :url-helper #ig/ref :yki.util/url-helper}

 :yki.handler/status {:db #ig/ref :duct.database/sql}

 :yki.handler/localisation {:url-helper #ig/ref :yki.util/url-helper}

 :yki.handler/exam-session {:db #ig/ref :duct.database/sql}

 :yki.handler/file {:db #ig/ref :duct.database/sql
                    :file-store #ig/ref :yki.boundary.files/liiteri-file-store}

 :yki.handler/organizer {:db #ig/ref :duct.database/sql
                         :url-helper #ig/ref :yki.util/url-helper
                         :file-handler #ig/ref  :yki.handler/file
                         :access-log #ig/ref :yki.middleware.access-log/with-logging
                         :exam-session-handler #ig/ref :yki.handler/exam-session
                         :auth #ig/ref :yki.middleware.auth/with-authentication}}

