<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body style="margin: 0; font-family: 'Open Sans', Arial, sans-serif;">
    <table style="width: 600px;">
      {% block content %}
      {% endblock %}
      <tr>
        <td style="padding-left: 20px; padding-top: 40px;">
          {% i18n baseMessage.automaticReply %}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px; padding-top: 10px;">
          {% i18n baseMessage.signature.line1 %}
        </td>
      </tr>
      <tr>
        <td style="padding-left: 20px;">
          {% i18n baseMessage.signature.line2 %}
        </td>
      </tr>
    </table>
  </body>
</html>
