{% extends "yki/templates/base_message.html" %} {% block content %}
<tr>
    <td style="padding-left: 20px;">
        {% i18n email.payment_from_queue.content.line1 %}
    </td>
</tr>

<tr>
    <td style="padding-left: 20px; padding-top: 20px;">
        <b>{% i18n email.payment_from_queue.content.line2.part1 %}</b> {% i18n email.payment_from_queue.content.line2.part2 %}
        {% i18n email.payment_from_queue.content.line2.part3 %}: <a href="{% i18n email.payment_from_queue.content.line2.link.url %}" target="_blank">{% i18n email.payment_from_queue.content.line2.link.text %}</a>
    </td>
</tr>

<tr>
    <td style="padding-left: 20px; padding-top: 20px;">
        {% i18n email.payment_from_queue.content.line3 %}:
    </td>
</tr>

<tr>
    <td style="padding-left: 20px; padding-top: 10px;">
        {% i18n common.test %}: {{language}} {{level|lower}}
    </td>
</tr>
<tr>
    <td style="padding-left: 20px;">
        {% i18n common.testDay %}: {{exam_date|date-format-with-dots}}
    </td>
</tr>
<tr>
    <td style="padding-left: 20px;">
        {% i18n common.testCentre %}: {{name}}, {{street_address}}, {{zip}} {{post_office|upper}}
    </td>
</tr>
<tr>
    <td style="padding-left: 20px;">
        {% i18n common.testFee %}: {{amount|format-price}} €
    </td>
</tr>

<tr>
    <td style="padding-left: 20px; padding-top: 20px;">
        <b>{% i18n email.payment_from_queue.content.line4.part1 %} {{expiration_date}}</b>{% i18n email.payment_from_queue.content.line4.or %} {% i18n email.payment_from_queue.content.line4.part2 %}
    </td>
</tr>

<tr>
    <td style="padding-left: 20px; padding-top: 20px;">
        {% i18n email.payment_from_queue.content.line5 %}:
    </td>
</tr>
<tr>
    <td style="padding-left: 20px;">
        <a style="color: #0093C4;" href="{{login_url}}" target="_blank">{% i18n email.payment_from_queue.link_text %}</a>
    </td>
</tr>

<tr>
  <td style="padding-left: 20px; padding-top: 20px;">
    {% i18n email.payment_success.content.line6 %}:
    <a href="{{user_portal_link}}" target="_blank">{% i18n email.payment_success.content.line6.link.text %}</a>
  </td>
</tr>
{% endblock %}
