{% extends "yki/templates/base.html" %} {% block content %}
<tr>
  <td style="padding-left: 20px; padding-top: 20px">
    {% i18n email.payment_success.content.line1 %}:
  </td>
</tr>
<tr>
  <td style="padding-left: 20px; padding-top: 20px">
    {{language}} {{level|lower}}
  </td>
</tr>
<tr>
  <td style="padding-left: 20px">{{exam_date|date-format-with-dots}}</td>
</tr>
<tr>
  <td style="padding-left: 20px">
    {{name}}, {{street_address}}, {{zip}} {{post_office}}
  </td>
</tr>
{% if extra_information %}
<tr>
  <td style="padding-left: 20px; padding-top: 20px">
    {% i18n email.payment_success.extra_information.label %}:
  </td>
</tr>
<tr>
  <td style="padding-left: 20px;">
    {{ extra_information }}
  </td>
</tr>
{% endif %}
{% if contact_info %}
<tr>
  <td style="padding-left: 20px; padding-top: 20px">
    {% i18n email.payment_success.organizer_contact.label %}:
  </td>
</tr>
{% if contact_info.name %}
<tr>
  <td style="padding-left: 20px;">
    {% i18n email.payment_success.organizer_contact.name %}: {{ contact_info.name }}
  </td>
</tr>
{% endif %}
{% if contact_info.email %}
<tr>
  <td style="padding-left: 20px;">
    {% i18n email.payment_success.organizer_contact.email %}: {{ contact_info.email }}
  </td>
</tr>
{% endif %}
{% if contact_info.phone_number %}
<tr>
  <td style="padding-left: 20px;">
    {% i18n email.payment_success.organizer_contact.phoneNumber %}: {{ contact_info.phone_number }}
  </td>
</tr>
{% endif %}
{% endif %}
<tr>
  <td style="padding-left: 20px; padding-top: 20px">
    {% i18n registration.examDetails.futureInfo %}
  </td>
</tr>
<tr>
  <td style="padding-left: 20px; padding-top: 20px">
    {% i18n registration.examDetails.readInstructions.prompt %}:
  </td>
</tr>
<tr>
  <td style="padding-left: 20px; padding-top: 20px">
    <a href="{% i18n registration.examDetails.readInstructions.url %}">{% i18n registration.examDetails.readInstructions.url %}</a>
  </td>
</tr>
<tr>
  <td style="padding-left: 20px; padding-top: 20px">
    {% i18n email.payment.content.line5 %}
  </td>
</tr>
{% endblock %}
