{% extends "yki/templates/base.html" %} {% block content %}
<tr>
    <td style="padding-left: 20px; padding-top: 20px;">
      Tärkeää! Mikäli maksua ei ole maksettu eräpäivään mennessä, ilmoittautumisesii perutaan.
    </td>
</tr>
<tr>
    <td style="padding-left: 20px; padding-top: 20px;">
      Olet ilmoittautumassa seuraavaan kielitutkintoon:
    </td>
</tr>
<tr>
    <td style="padding-left: 20px; padding-top: 20px;">
      {{language_code}} {{level_code}}
    </td>
</tr>
<tr>
    <td style="padding-left: 20px;">
      {{exam_date|date-format-with-dots}}
    </td>
</tr>
<tr>
    <td style="padding-left: 20px;">
      {{street_address}}, {{city}}
    </td>
</tr>
<tr>
  <td style="padding-left: 20px; padding-top: 20px;">
    Tutkintomaksu {{amount|replace-dot-with-comma}} €
  </td>
</tr>
<tr>
  <td style="padding-left: 20px; padding-top: 20px;">
    Tutkintomaksu maksetaan oheisen linkin kautta.
  </td>
</tr>
<tr>
  <td style="padding-left: 20px; padding-top: 20px;">
    <a style="color: #0093C4;" href="{{login-url}}" target="_blank">Maksulinkki</a>
  </td>
</tr>
<tr>
  <td style="padding-left: 20px; padding-top: 20px;">
    Tämä on automaattinen viesti, älä vastaa tähän viestiin.
  </td>
</tr>
{% endblock %}
