{% extends "yki/templates/base.html" %} {% block content %}
<tr>
    <td style="padding-left: 20px; padding-top: 20px;">
      {% i18n email.payment.content.line1 %}
    </td>
</tr>
<tr>
    <td style="padding-left: 20px; padding-top: 20px;">
      {% i18n email.payment.content.line2 %}
    </td>
</tr>
<tr>
    <td style="padding-left: 20px; padding-top: 20px;">
      {{language_code}} {{level_code}}
    </td>
</tr>
<tr>
    <td style="padding-left: 20px;">
      {{exam_date|date-format-with-dots}}
    </td>
</tr>
<tr>
    <td style="padding-left: 20px;">
      {{address}}
    </td>
</tr>
<tr>
  <td style="padding-left: 20px; padding-top: 20px;">
    {% i18n email.payment.content.line3 %} {{amount|replace-dot-with-comma}} €
  </td>
</tr>
<tr>
  <td style="padding-left: 20px; padding-top: 20px;">
    {% i18n email.payment.content.line4 %}
  </td>
</tr>
<tr>
  <td style="padding-left: 20px; padding-top: 20px;">
    <a style="color: #0093C4;" href="{{login-url}}" target="_blank">{% i18n email.payment.link_text %}</a>
  </td>
</tr>
<tr>
  <td style="padding-left: 20px; padding-top: 20px;">
    {% i18n email.payment.content.line5 %}
  </td>
</tr>
{% endblock %}
